<nav class="nav">
  <a rel=canonical href="/" class="nav__link">
    <i class='bx bx-home nav__icon'></i>
    <span class="nav__text">Home</span>
  </a>
  <a rel=canonical href="/match" class="nav__link">
    <i class='bx bx-dice-2'></i>
    <span class="nav__text">Match</span>
  </a>
  <a rel=canonical href="/scoreboard" class="nav__link">
    <i class='bx bx-news nav__icon'></i>
    <span class="nav__text">Score Board</span>
  </a>
  <a rel=canonical href="/contactus" class="nav__link">
    <i class='bx bx-message-dots'></i>
    <span class="nav__text">Contact</span>
  </a>
</nav>


<header class="page-header">
  <div class="container">
    <div class="page-header__content">
      <a href="/">
      <h1 class="logo">Final Goals</h1>
      </a>
    </div>
  </div>
</header>